<!-- START NAVBAR -->
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #364167;">
    <a class="navbar-brand" href="/">
        <img src="/full-tokimon.png" width="100" 
        class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarTogglerDemo02" 
        aria-controls="navbarTogglerDemo02" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/"><i class="fa fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create"><i class="fa fa-pencil"></i> Create</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search"><i class="fa fa-search"></i> Search</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-right">
            <a class="nav-link" href="https://csil-git1.cs.surrey.sfu.ca/bvtrinh/276-tokimons"><i class="fas fa-code"></i> Source Code</a>
          </li>
        </ul>
    </div>
<!-- END NAVBAR -->
</nav>