h1 {

    padding: 30px;

}

.search-btn {
    margin: 0px 3px;

}

.card-bg {
    width: 15rem;
    height: 8rem;
}

.card-spacing {
    margin: 1em;
}

.modifiers {
    text-align: right;
}

.title-toki {
    /* top, right, bot, left */
    padding: 20px 0px 5px 0px;
}

.footer {
    margin: 10em;
}

.chart {
    width: 70%;
    margin: 0 auto;
}