<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
    <h1 align="center" class="title">Search</h1>

    <div align="center" >
        <form action="/search" method="GET" class="form-inline active-purple-4 justify-content-center">
            <!-- Search form -->
            <div class="input-group col-lg-6 col-md-8">
                <input name="search_val" class="form-control" type="text" placeholder="Search" aria-label="Search" autofocus>
                <button type="submit" id="create_submit" class="btn btn-outline-primary search-btn">
                <i class="fa fa-search" aria-hidden="true"></i></button>
            </div>

        </form>
    </div>

    <div align="center">
        <% if (typeof rows !== 'undefined') { %>
            <div class="row">

            <% rows.forEach(function(r) { %>
                <div class="col-lg-3 col-md-6">
                    <div class="card card-spacing" style="width: 15rem;">
                        <div class="card-bg" style="background: <%= r.color %>"></div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="/toki/<%= r.id %>"><%= r.name%></a></h5>
                            <p class="card-text"><%= r.sprite %></p>
                        </div>
                    </div>
                </div>
            <% }); %>
            </div>
        <% } %>
    </div>


</div>

<div class="footer"></div>
</body>
</html>
